.grid-main {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5px;
  padding: 5px;
}

.grid-person {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  padding: 10px;
}

.grid-item {
  border-radius: 5px;
  padding: 3px;
}

.addItemButton {
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.addPersonButton {
  display: flex;
  align-self: flex-end;
  justify-content: center;
}
